<!-- Call to action section-->
<section class="cta">
    <div class="cta-content">
        <div class="container px-5">
            <h2 class="text-white display-1 lh-1 mb-4">
               Entre em Contato
            </h2>
            <a class="btn btn-outline-light py-3 px-4 rounded-pill" href="https://wa.me/83998413751/?text=ol%C3%A1,%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es." target="_blank">
                <i class="fab fa-whatsapp fa-lg"></i> Whatsapp
            </a>
            
                    </div>
    </div>
</section>