{%load static%}
   <!-- Mashead header-->
    <header class="masthead" style="{{formatarestilo}}">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <!-- Mashead text and app badges-->
                    <div class="mb-5 mb-lg-0 text-center text-lg-start">
                        <h1 class="display-1 lh-1 mb-3">Automatize Processos.</h1>
                        <p class="lead fw-normal text-muted mb-5">Automatizamos todos os processos repetitivos e Você economiza na mão de obra. Sei la!</p>
                        {% comment %} <div class="d-flex flex-column flex-lg-row align-items-center">
                            <a class="me-lg-3 mb-4 mb-lg-0" href="#!"><img class="app-badge" src="{%static 'assets/img/google-play-badge.svg'%}" alt="..."></a>
                            <a href="#!"><img class="app-badge" src="{%static 'assets/img/app-store-badge.svg'%}" alt="..."></a>
                        </div> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Masthead device mockup feature-->
                    <div class="masthead-device-mockup">
                        <img src="{% static 'assets/img/hero-img.png'%}" alt="" style="width: 90%;">
                    </div>
                </div>
            </div>
        </div>
    </header>