{%load static%}
<section id="servicos">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-globe icon-feature d-block mb-3 icone"></i>
                                <h3 class="text-gradient-ligth">Plataforma de Feedbacks</h3>
                                <p class=" mb-0">Cadastre estabelecimentos e funcionários para gerenciar feedbacks.</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-gear-fill icon-feature d-block mb-3 icone"></i>
                                <h3 class="font-alt">Automações</h3>
                                <p class="  mb-0">Automação de tarefas repetitivas, e economia em mão de obra.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-window-sidebar icon-feature icone d-block mb-3"></i>
                                <h3 class="font-alt">Email-Marketing</h3>
                                <p class="  mb-0">Envio de emails agendados e automatizados para lista de clientes ou fornecedores ou setor espesífico da sua empresa.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi-patch-check icon-feature icone d-block mb-3"></i>
                                <h3 class="font-alt">Q&A</h3>
                                <p class="  mb-0">Desenvolvimento de testes de funcionalidades e de regressão para sistemas.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-0">
                <!-- Features section device mockup-->
                <div class="features-device-mockup">
                  
                        <!-- Masthead device mockup feature-->
                        <div class="masthead-device-mockup">
                            <img src="{% static 'assets/img/bot.png'%}" alt="" style="width: 100%;">
                        </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>