{% extends 'modulos/base.html' %}
{%block 'title'%} Gest Tech. {%endblock%}
{%block 'conteudo'%} 
    <!-- navbar-->
    {%include 'modulos/navbar.html'%}
    <!-- alerta-->
    {%include 'modulos/alerta.html'%}
    <!-- Header-->
    {%include 'modulos/header.html'%}
    <!-- fraze fundo azul da pagina-->
    {%include 'modulos/frasemeiodapagina.html'%}
    <!-- Servicos-->
    {%include 'modulos/servicos.html'%}
    <!-- frase 2 do meio da pagina-->
    {%include 'modulos/frase2meiodapagina.html'%}
    <!-- chamada para ação-->
    {%include 'modulos/chamadaacao.html'%}
     <!-- Footer-->
    {%include  'modulos/footer.html'%}
    <!-- Forms Modal-->
    {%include 'modulos/formsmodal.html'%}
{%endblock%}