{% extends 'modulos/base.html' %}
{%block 'title'%} Soluções Robóticas {%endblock%}
{%block 'conteudo'%} 
    <!-- navbar-->
    {%include 'modulos/navbar.html'%}
    {%include 'modulos/formsmodal.html'%}
    <style>
        h2{text-align: center; margin-top:5%;}

        
    </style>
    <section id="sobre-nos" class="container">
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à <strong>Gest Tech</strong>, sua solução completa para desenvolvimento de software e automação. Fundada por uma equipe apaixonada por tecnologia e inovação, nossa missão é transformar ideias em realidade através da programação. Com uma abordagem centrada no cliente, nós nos dedicamos a compreender suas necessidades específicas, oferecendo soluções personalizadas que impulsionam o sucesso do seu negócio.</p>
        
        <h2>Por Que Escolher Oficina Tech?</h2>
        <p><strong>Expertise Técnica</strong>: Nossa equipe é composta por desenvolvedores experientes e criativos, comprometidos com a excelência e com uma paixão por tecnologia.</p>
        <p><strong>Soluções Personalizadas</strong>: Entendemos que cada projeto é único. Trabalhamos de perto com você para criar soluções que atendam exatamente às suas necessidades.</p>
        <p><strong>Compromisso com a Qualidade</strong>: Nosso foco está na entrega de projetos que não apenas atendam, mas superem suas expectativas, mantendo altos padrões de qualidade.</p>
        <p><strong>Suporte Contínuo</strong>: Estamos aqui para você, mesmo após a conclusão do seu projeto. Oferecemos suporte e manutenção para garantir o sucesso contínuo das suas soluções.</p>
        
        <p>Em <strong>Oficina Tech</strong>, acreditamos no poder da tecnologia para transformar negócios. Estamos prontos para ajudá-lo a alcançar seus objetivos com soluções de programação inovadoras e personalizadas. Entre em contato conosco hoje para discutir como podemos apoiar o seu sucesso.</p>
    </section>
{%endblock%}
