{% extends 'modulos/base.html' %}
{%block 'title'%} Soluções Robóticas {%endblock%}
{%block 'conteudo'%} 
    <!-- navbar-->
    {%include 'modulos/navbar.html'%}
    {%include 'modulos/formsmodal.html'%}
    <style>
        h2{text-align: center;}
        
    </style>
    <section id="sobre-nos" class="container">
        <h2>Sobre Nós</h2>
        <p>Bem-vindo à <strong>Oficina Tech</strong>, sua solução completa para desenvolvimento de software e automação. Fundada por uma equipe apaixonada por tecnologia e inovação, nossa missão é transformar ideias em realidade através da programação. Com uma abordagem centrada no cliente, nós nos dedicamos a compreender suas necessidades específicas, oferecendo soluções personalizadas que impulsionam o sucesso do seu negócio.</p>
        
        <h2>Nossos Serviços</h2>
        <ul>
            <li><strong>Desenvolvimento de Sites e Blogs</strong>: Criamos experiências online memoráveis, desenhando sites e blogs que não só parecem incríveis, mas também são otimizados para SEO, garantindo que você alcance seu público-alvo.</li>
            <li><strong>Desenvolvimento de Sistemas e Plataformas</strong>: Seja qual for a complexidade do seu projeto, nossa equipe está preparada para desenvolver sistemas e plataformas robustas, escaláveis e seguras, que atendam perfeitamente às suas necessidades de negócios.</li>
            <li><strong>Dashboards e Análise de Dados</strong>: Transformamos dados em insights através de dashboards personalizados e análises detalhadas, ajudando você a tomar decisões informadas para o seu negócio.</li>
            <li><strong>Automações com Python</strong>: Aumente sua eficiência operacional com nossas soluções de automação personalizadas. Utilizamos Python para automatizar tarefas repetitivas, economizando tempo e recursos.</li>
        </ul>
        
        <h2>Por Que Escolher Oficina Tech?</h2>
        <p><strong>Expertise Técnica</strong>: Nossa equipe é composta por desenvolvedores experientes e criativos, comprometidos com a excelência e com uma paixão por tecnologia.</p>
        <p><strong>Soluções Personalizadas</strong>: Entendemos que cada projeto é único. Trabalhamos de perto com você para criar soluções que atendam exatamente às suas necessidades.</p>
        <p><strong>Compromisso com a Qualidade</strong>: Nosso foco está na entrega de projetos que não apenas atendam, mas superem suas expectativas, mantendo altos padrões de qualidade.</p>
        <p><strong>Suporte Contínuo</strong>: Estamos aqui para você, mesmo após a conclusão do seu projeto. Oferecemos suporte e manutenção para garantir o sucesso contínuo das suas soluções.</p>
        
        <p>Em <strong>Oficina Tech</strong>, acreditamos no poder da tecnologia para transformar negócios. Estamos prontos para ajudá-lo a alcançar seus objetivos com soluções de programação inovadoras e personalizadas. Entre em contato conosco hoje para discutir como podemos apoiar o seu sucesso.</p>
    </section>
{%endblock%}
